@font-face {
  font-family: Baloo Bhaina;
  src: url('assets/BalooBhaina-Regular.ttf'); 
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  background: url(assets/BlocklyProp-Splash.png);
  background-repeat: no-repeat;
}

.tab-selected {
  border-top: 1px solid #aaa;
  border-left: 1px solid #aaa;
  border-right: 1px solid #aaa;
  border-bottom: none;
  background: none;
  color: #000;
}

.tab-unselect {
  border-top: 1px solid #999;
  border-left: 1px solid #999;
  border-right: 1px solid #999;
  border-bottom: 1px solid #aaa;
  background: rgba(0,0,0,.15);
  color: #888;
  cursor: pointer;
}

.folder-page {
  padding: 5px;
  border-bottom: 1px solid #aaa;
  border-left: 1px solid #aaa;
  border-right: 1px solid #aaa;
  border-top: none;
}

.con {
  font-family: Andale Mono, Consolas, monospace;
  font-weight: bold;
  letter-spacing: -0.8px;
}

#log {
  height: 240px;
  width: 280px;
  overflow-y: scroll;
  background: #fff;
  border: 1px solid #ccc;
}

#settings-pane {
  position: absolute;
  top: 550px;
  left: 10px;
  padding: 5px;
  width: 300px;
  height: 355px;
  border-radius: 6px;
  transition-duration: 0.8s;
  background: rgba(255,255,255,0.9);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

*:focus {
  outline: none;
}

.button-label {
  position: absolute;
  text-align: center;
  left: 325px;
  width: 160px;
  font-family: Baloo Bhaina;
  font-size: 20px;
}

.button {
  width: 150px;
  border: none;
  color: white;
  padding: 12px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 6px;
}

.status {
  word-break: break-all;
  padding: 17px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  border-radius: 6px;
}

.button:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.status-green {
  height: 34px;
  width: 118px;
  background-color: #4caf50; /* Green */
  padding-top: 31px;
  color: white;
  border: none;
}

.status-clear {
  height: 38px;
  width: 114px;
  background: none; /* Green */
  color: #ccc;
  border:2px solid #ddd;
}

.button-blue {
  background-color: #4472c4; 
}

.button-blue:hover {
  background-color: #335b9c;
}

.button-green {
  background-color: #4caf50; /* Green */
}

.button-green:hover {
  background-color: #339037; /* Green */
}

