@font-face {
  font-family: Baloo Bhaina;
  src: url('assets/BalooBhaina-Regular.ttf'); 
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  background: url(assets/BlocklyProp-Splash.png);
  background-repeat: no-repeat;
}

/*---------------*/
/* Settings Pane */
/*---------------*/

.tab-selected {
  color: #000;
  padding-bottom: 5px;
  z-index: 2;
}

.tab-unselect {
  color: #888;
  background-color: rgba(0,0,0,0.15);
  cursor: pointer;
  padding-bottom: 5px;
  z-index: 2;
}

.tab-left {
  position: absolute;
  top: -1px;
  left: -1px;
  width: 155px;
  height: 16px;
  text-align: center;
  padding-top: 6px;
}

.tab-right {
  position: absolute;
  top: -1px;
  left: 155px;
  width: 155px;
  height: 16px;
  text-align: center;
  padding-top: 6px;
}

.pane-table {
  position: absolute;
  top: 35px;
  left: 10px;
}

.folder-page {
  padding: 5px;
  z-index: 2;
}

.wx-name {
  color: #bbb;
}

.con {
  font-family: Andale Mono, Consolas, monospace;
  font-weight: bold;
  font-size: 10px;
  letter-spacing: -0.7px;
}

#log {
  height: 278px;
  width: 285px;
  overflow-y: scroll;
  background: #fff;
  border: 1px solid #ccc;
  vertical-align: top;
}

#wx-list {
  height: 277px;
  width: 267px;
  overflow-y: scroll;
  background: #fff;
  border: 1px solid #ccc;
  vertical-align: top;
}

#settings-pane {
  position: absolute;
  top: 550px;
  left: 10px;
  padding: 5px;
  width: 300px;
  height: 380px;
  border-radius: 6px;
  overflow: hidden;
  transition-duration: 0.8s;
  background: rgba(240,240,250,0.95);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

*:focus {
  outline: none;
}

/*---------------*/
/* Browse Buttons*/
/*---------------*/

.button-label {
  position: absolute;
  text-align: center;
  left: 323px;
  width: 160px;
  font-family: Baloo Bhaina;
  font-size: 20px;
}

.button-label-small {
  font-size: 14px;
}

.button {
  width: 150px;
  border: none;
  color: white;
  padding: 12px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  transition: 0.4s;
  cursor: pointer;
  border-radius: 6px;
}

.button:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.button-open {
  background-color: #4472c4;
}

.button-open:hover {
  background-color: #335b9c;
}

.button .tooltip {
  width: 130px;
  /* Position the tip (left of button)*/
  top: 12px;
}

.button:hover .tooltip {
  visibility: visible;
  opacity: 1.0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*-----------------*/
/* Settings button */
/*-----------------*/

.settings {
  width: 40px;
  padding: 5px;
  background-color: #fff;
  border: 2px solid #ddd;
}

.settings-active {
  width: 40px;
  padding: 5px;
  background-color: #4caf50;
  border: 1px solid #117022;
}

.settings-active:hover {
  background-color: #339037; /* Green */
}

/*-------------------*/
/* Connection status */
/*-------------------*/

.status {
  word-break: break-all;
  padding: 17px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  transition: opacity 0.4s;
  border-radius: 6px;
}

.status-clear {
  height: 38px;
  width: 114px;
  background: none;
  color: #ccc;
  border:2px solid #ddd;
}

.status-clear .tooltip {
  width: 200px;
  /* Position the tip (left of status)*/
  top: -7px;
}

.status-clear:hover .tooltip {
  visibility: visible;
  opacity: 1.0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.status-green {
  height: 31px;
  width: 118px;
  background: #4caf50; /* Green */
  padding-top: 27px;
  color: white;
  border: none;
}

/*----------*/
/* Tool Tip */
/*----------*/

.tooltip {
  visibility: hidden;
  width: 100px;              /* Default size */
  background-color: #117022;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding-top: 3px;
  padding-bottom: 5px;

  /* Position the tip (left of button)*/
  position: absolute;
  z-index: 1;
  top: 10px;                /* Default position */
  right: 106%;

  /* Fade in tip - takes 4/10 second to go from 0% to 100% opacity */
  opacity: 0.0;
  transition: opacity 0.4s;
}

.tooltip::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent transparent #117022;
}

/*-------------*/
/* App version */
/*-------------*/

.version {
  color: #999999;
  font-size: 11px;
  font-weight: bold;
}

